/** Background colors **/

.bg-primary-color {
    background: #D0412A !important;
}

.bg-secondary-color {
    background: #3E0000 !important;
}

.bg-tertiary-color {
    background: #FCF6E3 !important;
}

.bg-white-color {
    background: #FFFFFF !important;
}

.bg-black-color {
    background: #000000 !important;
}

/** Text colors **/

.primary-color {
    color: #D0412A !important;
}

.secondary-color {
    color: #3E0000 !important;
}

.tertiary-color {
    color: #FCF6E3 !important;
}

.white-color {
    color: #FFFFFF !important;
}

.black-color {
    color: #000000 !important;
}
