.gallery {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.gallery .photo {
    margin: 0.2em;
}

.gallery .photo img {
    width: 12em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .45s ease-in-out;
}

.gallery .photo img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 480px) {

    .gallery .photo img {
        width: 14em;
    }

    .gallery .photo img:hover {
        transform: none;
    }

}